<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Random Color</title>
        <link href="dist/css/main.css" rel="stylesheet">
    </head>
    <body>
        <div id="app">
            <template v-for="game in games" :key="game.name">
                <h1>{{ game.name }} - <small>{{ game.console }}</small></h1>

                <span v-for="star in game.rating" @click="addToRating(game)">❤️</span>

                <div v-if="game.rating > 5">Wow, this game must be <b>REALLY</b> good</div>
            </template>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="dist/js/main.js"></script>
    </body>
</html>
